    main {
        margin: 0 auto !important;   
        width:2000px;
    }
    .blog-header-logo {
      font-family: sans-serif, "Playfair Display", Georgia, "Times New Roman"/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
      font-size: 2.25rem;
    }
    
    .blog-header-logo:hover {
      text-decoration: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: sans-serif, "Playfair Display", Georgia, "Times New Roman"/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    }
    
    .flex-auto {
      flex: 0 0 auto;
    }
    
    .h-250 { height: 250px; }
    @media (min-width: 768px) {
      .h-md-250 { height: 250px; }
    }
    
    /* Pagination */
    .blog-pagination {
      margin-bottom: 4rem;
    }
    
    /*
     * Blog posts
     */
    .blog-post {
      margin-bottom: 4rem;
    }
    .blog-post-meta {
      margin-bottom: 1.25rem;
      color: #727272;
    }
    
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    
    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    
    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }
    
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
    
    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }
    
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    
    .btn-bd-primary {
      --bd-violet-bg: #757575;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #969696;
      --bs-btn-hover-border-color: #969696;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #626262;
      --bs-btn-active-border-color: #626262;
    }
    .bd-mode-toggle {
      z-index: 1500;
    }
    .change-my-color {
      fill: green;
    }

    .map-frame{
      display: block;
      width: 100%;
      height: 500px;
    }
    
    h3{
      font-family: sans-serif,Tahoma;
      font-weight: bold;
    }

    .aqi{
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      opacity: .9;
      margin: 0;
    }

    .aqi-value{
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      opacity: .9;
      margin: 0;
    }
    .aqi-desc{
      font-size: 12px;
      font-weight: 400;
    }
    .banner-bg-success{
      background-color: #33d44e;
      opacity: .9;
    }

    .banner-bg-warning{
      background-color: #fae371;
      opacity: .9;
    }

    .banner-bg-danger{
      background-color: #ff1919;
      opacity: .9;
    }    

    .banner-text-color-success{
      color: #00470c;
    }

    .banner-text-color-warning{
      color: #504200;
    }

    .banner-text-color-danger{
      color: #3c0000;
    }