<div class="p-4 p-md-5 mb-4 rounded bg-success">
  <!-- <div class="row mb-2 text-center"> -->
  <div class="col-lg-6 px-0">
    <!-- <img style="width: 120px; height: 120px;" src="./ic-face-green.svg"> -->
    <p class="lead mb-0 text-light">A'lo darajadagi havo....</p>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xl-4">
  <!-- <img style="width: 120px; height: 120px;" src="./ic-face-yellow.svg"> --
  <p class="lead mb-0 text-light">Ҳаво таъсирчан гуруҳ учун бироз ноқулайлик туғдириши мумкин.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xl-4">
  <!-- <img style="width: 120px; height: 120px;" src="./ic-face-red.svg"> --
  <p class="lead mb-0 text-light">Xavfli havo....</p>
</div> -->
  <!-- </div> -->
  <!-- <div class="col-lg-6 px-0">      
</div> -->
</div>
<div class="p-4 p-md-5 mb-4 rounded bg-warning">
  <div class="col-lg-6 px-0">
    <p class="lead mb-0 text-dark">
      Ҳаво таъсирчан гуруҳ учун бироз ноқулайлик туғдириши мумкин.
    </p>
  </div>
</div>
<div class="p-4 p-md-5 mb-4 rounded bg-danger">
  <div class="col-lg-6 px-0">
    <p class="lead mb-0 text-light">Xavfli havo....</p>
  </div>
</div>
