<div class="p-3 p-md-4 mb-3 rounded banner-bg-success">
  <div class="d-flex flex-row justify-content-aroud">
    <div class="col-4">
      <div class="d-flex flex-row justify-content-center">
        <div class="col-3">
          <img
            style="width: 120px; height: 120px"
            src="../../../assets/ic-face-green.svg"
          />
        </div>
        <div class="col-4 rounded bg-black opacity-50 p-2">
          <h6 class="aqi">AQI</h6>
          <h6 class="aqi-value mb-3">55</h6>

          <h6 class="aqi">PM 2.5</h6>
          <h6 class="aqi-value">12 μ/m3</h6>
          <h6 class="aqi-desc">Meyoridan 2 marta ko'p</h6>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-success">
      <h3>Yaxshi</h3>
      <h5>Bu havodan hamma nafas olishi kerak!</h5>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-success">
      <i class="fa fa-location-arrow"></i> Surxondaryo uy 12
    </div>
  </div>
</div>
<div class="p-3 p-md-4 mb-3 rounded banner-bg-warning">
  <div class="d-flex flex-row justify-content-aroud">
    <div class="col-4">
      <div class="d-flex flex-row justify-content-center">
        <div class="col-3">
          <img
            style="width: 120px; height: 120px"
            src="../../../assets/ic-face-yellow.svg"
          />
        </div>
        <div class="col-4 rounded bg-black opacity-50 p-2">
          <h6 class="aqi">AQI</h6>
          <h6 class="aqi-value mb-3">55</h6>

          <h6 class="aqi">PM 2.5</h6>
          <h6 class="aqi-value">12 μ/m3</h6>
          <h6 class="aqi-desc">Meyoridan 2 marta ko'p</h6>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-warning">
      <h3>O'rta</h3>
      <h5>Nafas olishida nuqsoni borlar uchun noqulaylik tug'dirishi mumkin</h5>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-warning">
      <i class="fa fa-location-arrow"></i> Surxondaryo uy 12
    </div>
  </div>
</div>
<div class="p-3 p-md-4 mb-3 rounded banner-bg-danger">
  <div class="d-flex flex-row justify-content-aroud">
    <div class="col-4">
      <div class="d-flex flex-row justify-content-center">
        <div class="col-3">
          <img
            style="width: 120px; height: 120px"
            src="../../../assets/ic-face-red.svg"
          />
        </div>
        <div class="col-4 rounded bg-black opacity-50 p-2">
          <h6 class="aqi">AQI</h6>
          <h6 class="aqi-value mb-3">55</h6>

          <h6 class="aqi">PM 2.5</h6>
          <h6 class="aqi-value">12 μ/m3</h6>
          <h6 class="aqi-desc">Meyoridan 2 marta ko'p</h6>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-danger">
      <h3>Yomon</h3>
      <h5>
        Nafas olishida nuqsoni borlarni uyda qolishini va tashqariga chiqishdan
        oldin niqob taqib chiqishni tavsiya qilamiz!
      </h5>
    </div>
    <div class="col-4 text-center align-self-center banner-text-color-danger">
      <i class="fa fa-location-arrow"></i> Surxondaryo uy 12
    </div>
  </div>
</div>
