<nav class="m-2">
  <div class="container">
    <div class="d-flex justify-content-end">
      <h4 class="modal-title px-2" id="modal-basic-title">{{ userName }}</h4>
      <a class="btn border float-right" (click)="logOut()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a
      >
    </div>
  </div>
</nav>

<div class="main-screen d-flex">
  <div *ngFor="let station of stations">
    <div class="card" [ngClass]="{ 'gray-bg': station.isActive == false }">
      <div class="card-header">
        <span>{{ station.name }}</span
        ><span *ngIf="compareDates(station.lastDataTime); then showDate"></span
        >&nbsp;&nbsp;&nbsp;&nbsp;<span
          *ngIf="station.isWorking; then greenBlock; else pinkBlock"
        ></span>

        <ng-template #showDate
          >&nbsp;-&nbsp;{{
            station.lastDataTime?.toString() + "Z"
              | date : "yyyy-MM-dd HH:mm:ss"
          }}</ng-template
        >
        <div class="d-flex justify-content-end mb-2">
          <button
            class="btn btn-outline-success btn-sm conf-btn"
            (click)="getConfig(station.stationGuid, station.name)"
          >
            Configure</button
          >&nbsp;&nbsp;
          <button
            class="btn btn-outline-primary btn-sm conf-btn"
            (click)="getArchive(station.stationGuid, station.name)"
          >
            Archive
          </button>
        </div>
      </div>
      <div class="">
        <blockquote class="blockquote mb-0">
          <nz-collapse>
            <nz-collapse-panel
              *ngFor="let panel of panels.get(station.stationGuid)"
              [nzHeader]="panel.name"
              [nzActive]="panel.active"
              [nzDisabled]="panel.disabled"
              (click)="collapser(station.stationGuid, panel.id)"
            >
              <p style="margin: 0">
                <thead class="thead-light">
                  <tr>
                    <th style="width: 70%">Параметры</th>
                    <!-- <th style="width: 15%">Домен</th> -->
                    <th style="width: 15%">Значении</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let item of panel.values; let i = index"
                    class="text-peimary"
                  >
                    <td>{{ item.paramDesc }}</td>
                    <!-- <td>{{item.paramSubDomain}}</td> -->
                    <td>{{ item.params }}</td>
                  </tr>
                </tbody>
              </p>
            </nz-collapse-panel>
          </nz-collapse>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<ng-template #greenBlock>
  <a class="intro-banner-vdo-play-btn greenBg" target="_blank">
    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
    <span class="ripple greenBg"></span>
    <span class="ripple greenBg"></span>
    <span class="ripple greenBg"></span>
  </a>
</ng-template>
<ng-template #pinkBlock>
  <a class="intro-banner-vdo-play-btn pinkBg" target="_blank">
    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
    <span class="ripple pinkBg"></span>
    <span class="ripple pinkBg"></span>
    <span class="ripple pinkBg"></span>
  </a>
</ng-template>
