<main>
  <div class="container-fluid align-items-center">
    <header class="lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-12 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="/login">Sign up</a>
        </div>
      </div>
    </header>
    <app-banner-card></app-banner-card>

    <app-dynamic-dirt-card></app-dynamic-dirt-card>

    <app-current-values-card></app-current-values-card>

    <div class="row mb-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-dirt-history-card></app-dirt-history-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-temperature-history-card></app-temperature-history-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-humadity-history-card></app-humadity-history-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-wind-history-card></app-wind-history-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-solar-radiation-history-card></app-solar-radiation-history-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-evapotranspiratsiya-history-card></app-evapotranspiratsiya-history-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-sand-humadity-history-card></app-sand-humadity-history-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xl-6">
        <app-sand-temperature-history-card></app-sand-temperature-history-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12">
        <app-map-card></app-map-card>
      </div>
    </div>
  </div>

  <footer class="py-4 mx-2 text-center text-body-secondary bg-body-tertiary">
    <p>Developed by <a href="https://Saltek.uz">Saltek LLC</a></p>
  </footer>
</main>
